<% provide(:title, "Sign up".upcase) %>
<% provide(:link, "/") %>

<div
  class="
    sign-in-wrapper
    px-0
    has-background-grey-lighter
    has-text-centered
    has-text-grey-light
  "
>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "has-text-centered mt-5" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :name,
                   autofocus: true,
                   autocomplete: "name",
                   placeholder: "Name",
                   class: "input px-3" %>
    </div>

    <div class="field">
      <%= f.email_field :email,
                    autofocus: true,
                    autocomplete: "email",
                    placeholder: "Email",
                    class: "input px-3" %>
    </div>

    <div class="field">
      <%= f.password_field :password,
                       autocomplete: "new-password",
                       placeholder: "Password (6 characters minimum)",
                       class: "input px-3" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation,
                       autocomplete: "new-password",
                       placeholder: "Confirm password",
                       class: "input px-3" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'button is-primary is-medium mb-3 mt-5' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
