<section class="section has-background-grey-light category-list">
  <% unless @payments.present? %>
    <div class="box">
      <p>You have no payments yet, start by adding one using the button at the
        bottom</p>
    </div>
  <% end %>
  <% @payments.each do |payment| %>
    <%= link_to group_payment_path(@group.id, payment.id), class: "box bulma-block-mixin" do %>
      <div class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <strong><%= payment.name %></strong>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <p>Amount: <%= number_to_currency(payment.amount) %></p>
          </div>
        </div>
      </div>
      <div class="level is-mobile">
      <div class="level-center">
      <div class="level-item">
      <p>Created at: <%= payment.created_at.to_fs(:short) %></p>
      </div>
      </div>
      </div>
    <% end %>
  <% end %>
</section>
<div class="is-flex px-2 py-4 btn-container">
  <%= link_to "Add Payment", new_group_payment_path, class: "button is-large is-fullwidth" %>
</div>
